@font-face {
    font-family: 'Bulky Pixels';
    src: url('fonts/BulkyPixels.eot');
    src: url('fonts/BulkyPixels.eot?#iefix') format('embedded-opentype'),
        url('fonts/BulkyPixels.woff2') format('woff2'),
        url('fonts/BulkyPixels.woff') format('woff'),
        url('fonts/BulkyPixels.ttf') format('truetype'),
        url('fonts/BulkyPixels.svg#BulkyPixels') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crumbled Pixels';
    src: url('fonts/Crumbled-Pixels.eot');
    src: url('fonts/Crumbled-Pixels.eot?#iefix') format('embedded-opentype'),
        url('fonts/Crumbled-Pixels.woff2') format('woff2'),
        url('fonts/Crumbled-Pixels.woff') format('woff'),
        url('fonts/Crumbled-Pixels.ttf') format('truetype'),
        url('fonts/Crumbled-Pixels.svg#Crumbled-Pixels') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rounded Pixel-7';
    src: url('fonts/RoundedPixel-7.eot');
    src: url('fonts/RoundedPixel-7.eot?#iefix') format('embedded-opentype'),
        url('fonts/RoundedPixel-7.woff2') format('woff2'),
        url('fonts/RoundedPixel-7.woff') format('woff'),
        url('fonts/RoundedPixel-7.ttf') format('truetype'),
        url('fonts/RoundedPixel-7.svg#RoundedPixel-7') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

