@font-face {
    font-family: 'Neuropolitical Rg';
    src: url('fonts/NeuropoliticalRg-Regular.eot');
    src: url('fonts/NeuropoliticalRg-Regular.eot');
    src: url('fonts/NeuropoliticalRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/NeuropoliticalRg-Regular.woff2') format('woff2'),
        url('fonts/NeuropoliticalRg-Regular.woff') format('woff'),
        url('fonts/NeuropoliticalRg-Regular.woff') format('woff'),
        url('fonts/NeuropoliticalRg-Regular.ttf') format('truetype'),
        url('fonts/NeuropoliticalRg-Regular.svg#NeuropoliticalRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Larabiefont Rg';
    src: url('fonts/LarabiefontRg-Regular.eot');
    src: url('fonts/LarabiefontRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/LarabiefontRg-Regular.woff2') format('woff2'),
        url('fonts/LarabiefontRg-Regular.woff') format('woff'),
        url('fonts/LarabiefontRg-Regular.ttf') format('truetype'),
        url('fonts/LarabiefontRg-Regular.svg#LarabiefontRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zekton Rg';
    src: url('fonts/ZektonRg-Regular.eot');
    src: url('fonts/ZektonRg-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/ZektonRg-Regular.woff2') format('woff2'),
        url('fonts/ZektonRg-Regular.woff') format('woff'),
        url('fonts/ZektonRg-Regular.ttf') format('truetype'),
        url('fonts/ZektonRg-Regular.svg#ZektonRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

