@import '../../scss/common/vars';
@import '../../scss/common/colors';
@import '../../scss/common/mixins';

.button {
	font-family: $ff-logo;
	font-weight: $fw-regular;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 0;
	outline: none;
	transition: background-color ease $tr, color ease $tr,
			box-shadow ease $tr;
	cursor: pointer;

	&.menu-button {
		@include btnStyle();

		height: 50px;
		padding: 10px;
	}
}