@import '../../scss/common/vars';

.link {
	display: flex;
	align-items: center;
	align-items: center;
	width: 60px;
	height: 60px;
	font-family: $ff;
	font-weight: $fw-regular;
	font-size: 20px;
	padding: 10px;
	background-color: $white;
	box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
	border-radius: $b10;
	transition: background-color ease $tr, color ease $tr,
			box-shadow ease $tr;

	&:hover {
		box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1)
	}

	img {
		width: 100%;
		height: 100%;
	}
}