@import "../../scss/common/vars";

.header {
	padding: 20px 0;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;

	.container {
		max-width: 1900px;
	}

	&-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		animation: opacityOff 0.5s forwards ease;
			z-index: 100;

		@keyframes opacityOff {
			0% {
				scale: 0;
			}

			100% {
				scale: 1;
			}
		}
	}

	&.scrolled {
	}


	&-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color ease $tr, box-shadow ease $tr,
			padding ease $tr, border-radius ease $tr;

		ul {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		a {
			font-family: $ff;
			font-weight: $fw-regular;
			line-height: $lh;
			text-transform: capitalize;
			color: $black;
			transition: opacity ease $tr;

			&:hover {
				opacity: $op;
			}

			

			.circle {
				display: none;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				border: 2px solid $black;
				transition: background-color ease $tr;

				&.filled {
					background-color: $black;
				}
			}
		}
	}

	.hidden {
		display: none;
	}
}
